<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="AuthContext" connectionString="Data Source=SKPC-13\MSSQLSERVERNEW;Initial Catalog=ShopkiranaMutliMarketCentral; Uid=sa; Password=sa@123;" providerName="System.Data.SqlClient" />
    <!--<add name="authcontext" connectionString="Data Source=103.39.134.250\SKUAT;Initial Catalog=ShopkiranaMutliMarketCentral_Test; Persist Security Info=True; Uid=sa; Password=Sk@uat1!" providerName="System.Data.Sqlclient" />-->    
  </connectionStrings>
</configuration>